/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    color: #ffffff;
}
.layout-center-wrap{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 30px;  
}
h1, 
h2,
h3, 
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #ffffff;
}

/*          header           */

header{
    text-transform: uppercase;
    background-image: url(../img/head-bg.jpg);
    background-size: cover;
}
.header-top{
    position: relative;
    padding: 54px 0;
    font-family: 'SegoeUIBold';
    background-color: rgba(53, 63, 70, 0.85);
}
.logo{
    float: left;
    font-size: 30px;
}
.logo span{
    color: #4bcaff;
}
.head-nav-toggle{
    display: none;
    position: absolute;
    top: 24px;
    right: 30px;
    width: 26px;
    height: 18px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.head-nav-toggle:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px; 
    margin-top: -1px; 
    background-color: #ffffff;
}
.head-nav{
    float: right;
    padding: 0;
    margin: 0;
    font-family: 'SegoeUIBold';
    text-transform: uppercase;
}
.head-nav li{
    display: inline-block;
    margin-right: 25px; 
    line-height: 42px;
    list-style-type: none;
    font-size: 14px;
}
.head-nav li:last-child{
    margin-right: 0; 
}
.head-nav li a{
    padding: 5px 14px;
    border: 2px solid transparent; 
    transition: all .3s   
}
.head-nav li a.activ-link,
.head-nav li a:hover{
    color: #4bcaff;
    border: 2px solid #4bcaff;
}
.header-bottom{
    padding: 14.8279% 0;
}
header h1{
    text-align: center;
    font-family: 'SegoeUILight';
    font-size: 42px;
    line-height: 65px;
    cursor: default;
}
header h1 span{
    display: inline-block;
    padding: 0 20px 6px;
    margin-bottom: 10px;     
    background-color: rgba(53, 63, 70, 0.85);
}

/*          header end          */


/*          section services          */
section{
    padding: 4.1518% 0;
}
.services{
    background-color: #4bcaff;
}
h2{
    font-family: 'SegoeUILight';
    font-size: 30px;
    text-transform: uppercase;
}
h2::after{
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
}
h2.darker::after{
    background-color: #515f67;
}
.services h2{
    margin-bottom: 40px;
    color: #ffffff;
}
.serv-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.serv-list-item{
    float: left;
    width: 22.6086%;
    margin-right: 2.8%;
    font-family: 'SegoeUISemiBold';
}
.serv-list-item:last-child{
    margin-right: 0;
}
.serv-list-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 5%;
    background-image: url(../img/iconset-serv.png);
}
.serv-list-item:nth-child(2) .serv-list-icon{
    background-position: 0 -54px; 
}
.serv-list-item:nth-child(3) span{
    background-position: 0 -110px;
}
.serv-list-item:nth-child(4) span{
    background-position: 0 -160px;
}
.serv-list-item h3{
    margin-bottom: 3.8461%;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
.serv-list-item p{
    font-size: 12px;
    line-height: 18px;
}
/*          section services end         */


/*          section portfolio         */
.top-line{
    position: relative;
}
.portfolio .head-nav-toggle{
    top: 5px;
    right: 0;
}
.portfolio .head-nav-toggle:before{
    background-color: #515f67;
}
.portfolio h2{
    float: left;
    color: #515f67;
}
.portfolio a{
    color: #515f67;
}
.portfolio-wrap{
    padding: 0;
    margin-top: 80px;
    text-align: justify;    
}
.portfolio .portfolio-wrap::after{
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;    
}
.portfolio-wrap li{
    display: inline-block;
    position: relative;
    margin-bottom: 22px;
    width: 270px;
    height: 270px;
    line-height: 270px;
    list-style-type: none;
    cursor: pointer;
}
.portf-item-hov{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 82, 89, 0.9);
}
.portf-item-hov::after{
    content: "+";
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'SegoeUILight';
    font-size: 72px;
}
.portfolio-wrap li:hover .portf-item-hov,
.portf-item-hov.active{
    display: block;   
}
/*          section portfolio end         */

/*          section default          */
.default{
    background-color: #515f67;
}
.default h2,
.about h2{
    margin-bottom: 2.7522%;
}
.def-l{
    float: left;
    width: 43.4782%;
    font-size: 14px;
    line-height: 24px;
}
.def-l p{
    margin-bottom: 5.2742%;
    font-family: 'SegoeUIRegular';    
}
.def-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 40px;
    border: 2px solid #353f46;
    font-family: 'SegoeUIBold';
    color: #353f46;
    text-transform: uppercase;
}
.def-btn:hover{
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
.def-r{
    float: right;
    width: 50.45871%;
    margin-top: -5.8008%;  
}
.def-video-wrap{
    position: relative;
    height: 0; 
    padding-bottom: 56.25%; 
    overflow:hidden;
}
.def-video{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
}
/*          section default end         */

/*          section twitter        */
.tw{
    background-color: #4bcaff;
}
.tw h2{
    margin-bottom: 35px; 
    background: url(../img/icon-tw.png) no-repeat top right;
}
.tw p,
.testimon p{
    font-family: 'SegoeUILight';
    font-size: 28px;
    line-height: 50px;
}
.tw a{
    font-family: 'SegoeUIBold';
}
/*          section twitter end        */

/*          section about        */
.about{
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-l{
    float: left;
    width: 48.7179%;
}
.about-r{
    float: right;
    width: 47.826%;
}
.about p{
    margin-bottom: 25px;
    font-family: 'SegoeUIRegular';
    font-size: 14px;
    line-height: 24px;
}
.about a{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 2px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s 
}
.about a:hover{
    border: 2px solid #4bcaff;
    background-color: #4bcaff;
}
.about a:nth-child(1){
    background-image: url(../img/icon-tw.png);
}
.about a:nth-child(2){
    background-image: url(../img/icon-google.png);
}
.about a:nth-child(3){
    background-image: url(../img/icon-drib.png);
}
.about a:nth-child(4){
    background-image: url(../img/icon-coffe.png);
}
/*           about end       */

/*          section testimon       */
.testimon{
  color: #515f67;  
}
.testimon h2{
    margin-bottom: 35px; 
    background: url(../img/icon-quote.png) no-repeat top right;
}
.testimon a{
    display: inline-block;
    margin-top: 2.7522%;
    font-family: 'SegoeUIBold';
    font-size: 14px;
    color: #4bcaff;
}
/*          section testimon end       */

/*          section contact       */
.contact{
    background-image: url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cont-wrap{
    position: relative;
}
.cont-form{
    margin-top: 8.3732%;
    font-family: 'SegoeUIBold';
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.cont-form label{
    display: block;
}
.cont-form input{
    width: 38.589%;
    height: 35px;
    padding: 10px;
    margin-bottom: 35px;
    border: 2px solid #ffffff;    
    background-color: transparent;
}
.cont-form input,
.cont-form textarea{
    padding: 2.0283%;
    margin-bottom: 12px;
    border: 2px solid #ffffff;    
    background-color: transparent;
}
.cont-form textarea{
    display: block;
    width: calc(95.9434% - 4px);
    resize: none;
}
.cont-form button{
    display: block;
    margin-top: 3.6697%;
    padding: 16px 151px;
    text-transform: uppercase;
    border: 2px solid #4bcaff;
    background-color: #4bcaff;
}
.cont-form button:hover{
    background-color: transparent;
    color: #4bcaff;

}
.cont-info{
    position: absolute;
    right: 0;
    width: 46.5217%;
    font-family: 'SegoeUISemiBold';
    font-size: 14px;
    line-height: 24px;
}
.cont-info p{
    margin-bottom: 5.9162%;
}
/*          section contact end       */

/*          footer       */
footer{
    font-family: 'SegoeUISemiBold';
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    background-color: #353f47;
}
.foot-nav{
    float: left;
    padding: 6.7826% 0;
    margin: 0;
    list-style-type: none;
}
.foot-nav li{
    display: inline-block;
}
.foot-nav li a{
    display: inline-block;
    padding: 0 13px;
    border-right: 2px solid #515f67;
    color: #515f67;
}
.foot-nav li:last-child a{
    border-right: 2px solid transparent;
}
.copy{
    float: right;
    padding: 6.7826% 0;
    font-family: 'SegoeUISemiBold';
    font-size: 12px;
    color: #515f67;
}
/*          footer end       */


/*          media-queries       */
@media (max-width: 1080px){
    header h1{
        font-size: 30px;
        line-height: 48px;
    }
}
@media (max-width: 922px){
    .portfolio-wrap{
        text-align: center;
    }
    .serv-list-item{
        width: 46%;
        margin: 0 8% 4% 0;
        text-align: justify;
    }
    .serv-list-item:nth-child(even){
        margin-right: 0;
    }
    .def-r{
        margin-top: 0;
    }
}
@media (max-width: 860px){
    .header-top .layout-center-wrap{
        text-align: center;
    }
    .header-top {
        padding: 15px 0;
    }
    .logo,
    .portfolio h2,
    .head-nav{
        float: none;
    }
    .head-nav li {
        font-size: 12px;   
    }
    .head-nav li a {
        padding: 3px 8px;   
    }
    .portfolio .head-nav{
        margin-top: 4%;
        text-align: center;
    }
    .portfolio .head-nav-toggle{
        border-color: #515f67;
    }
}
@media (max-width: 808px){
    header h1{
        font-size: 20px;
        line-height: 33px;
    }
    h2{
        font-size: 22px;
    }
    .serv-list-item h3{
        font-size: 20px;
    }
    .def-l p,
    .about p,
    .cont-info p{
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
    }
    
    .tw p,
    .testimon p{
        font-size: 20px;
        line-height: 30px;
    }
    .about{
        position: relative;
    }
    .about-l,
    .about-r{
        float: none;
        width: 70%;
    }
    .social-wrap{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        height: 300px;
        margin: auto;
    }
    .social-wrap a{
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
@media (max-width: 570px){
    .header-top .layout-center-wrap{
        text-align: left;
    }
    .head-nav{
        display: none;
        margin-top: 15px;
        text-align: center;
    }
    .head-nav li{
        display: block;
        margin-right: 0;
    }
    .head-nav-toggle{
        display: block;
    }
    /*.head-nav-toggle:hover + .head-nav{
        display: block;
    }*/
    h2,
    .default h2, 
    .about h2{
        margin-bottom: 7%;
    }
    .def-l,
    .def-r{
        float: none;
        width: 100%;
    }
    .def-r{
        margin-top: 8%;
    }
    .cont-info{
        position: static;
        width: 100%;
    }
    .cont-form{
        font-size: 12px;
        line-height: 18px;
    }
    .cont-form input{
        width: calc(95.9434% - 4px);
        height: 20px;
    }
    .cont-form button{
        width: 100%;
        padding: 16px 0;
        margin: 3.6697% 0;
    }
    .foot-nav li{
        display: block;
        padding: 8px 0;
        text-align: center;
        border-bottom: 2px solid #515f67;
    }
    .foot-nav li:first-child{
        border-top: 2px solid #515f67;
    }
    .foot-nav li a{
        border: none;
    }

}
@media (max-width: 430px){
    .serv-list-item {
        width: 100%;
    }
     .tw p,
    .testimon p{
        font-size: 14px;
        line-height: 22px;
    }
    .testimon a{
        font-size: 12px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


 /* Clearfix: contain floats*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: block; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
